.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 14px;
}

.cards > ul > li {
  /* border: 1px solid #dadada; */
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px 0 2px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards .cards-card-body a {
    font-size: 18px;
    padding: 0;
    background-color: unset;
    margin: 0;
    border: none;
}

.cards .cards-card-body p:last-child{
  color: dimgray;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
}

.cards .cards-card-body p:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .members-only-section {
  margin-top: -20px;
  margin-bottom: 50px;
}

.members-only-section .cards .cards-card-body h3{
  font-family: "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: var(--fontSizeMedium, 18px);
  font-weight: var(--fontWeightBold, 600);
  text-transform: uppercase;
}

.members-only-section .cards .cards-card-body p {
  font-size: 14px;
  text-transform: uppercase;
}

.members-only-section .cards ul li{
  opacity: 0.65;
}

.members-only-section .cards .cards-card-body p:last-child{
  background-color: #ebebeb;
  color: dimgray;
  font-size: var(--fontSizeSmall, 14px);
  padding: .5em 1em;
  text-transform: uppercase;
  width: fit-content;
  margin: 1em 0;
}

.members-only-section .cards .cards-card-image img{
  margin-top: 7px;
  margin-bottom: 7px;
}

.members-only-section .cards ul li::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-gradient(linear, right bottom, left top, from(hsl(0deg 0% 100% / 0%)), color-stop(50%, hsl(0deg 0% 100% / 0%)), color-stop(50%, var(--brandPrimary, #ffea00)), to(var(--brandPrimary, #ffea00)));
  background: linear-gradient(to top left, hsl(0deg 0% 100% / 0%) 0, hsl(0deg 0% 100% / 0%) 50%, var(--brandPrimary, #ffea00) 50%, var(--brandPrimary, #ffea00) 100%);
  color: #000;
  content: "🔒";
  font-family: wknd-icon-font !important;
  font-size: 1.25rem;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  padding: 9pt;
  position: relative;
  text-transform: none;
  top: 49px;
  z-index: 2;
}