.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.featured .columns.block > div {
  display: flex;
  background-color: #ebebeb;
}

.featured .columns.block > div div.columns-img-col {
  flex-basis: 70%;
  align-self: stretch;
  display: flex;
}

.featured .columns.block > div div.columns-img-col div{
  align-self: stretch;
}

.featured .columns.block > div div.columns-img-col img{
  height: 100%;
  object-fit: cover;
}

.featured .columns.block > div div:last-child{
  flex-basis: 30%;
  padding: 3.5em 2em 2em;
}

.featured .columns.block > div div:last-child h2{
  font-weight: normal;
}

.featured .columns.block > div div p:first-child{
  font-weight: 600;
}

.featured .columns.block > div div p{
  font-size: 14px;
}


@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}